<div class="station-warning-list-item-view">
    <div class="row collapse">
        <div class="small-8 columns">
            <input class="warning-input" name="warning" type="text" placeholder="{{resource 'warningPlaceholder'}}" />
        </div>
        <div class="small-4 columns">
            <a class="add-station-warning-button button radius tiny" href="#">{{resource "addButtonText"}}</a>
            <a class="reset-add-station-warning-button button secondary radius tiny" href="#">{{resource "resetButtonText"}}</a>
        </div>
    </div>
    <div class="row collapse view-alerts">
        <div class="small-12 columns"></div>
    </div>
</div>
