<div class="dashboard-view">
    <div class="row collapse">
        <div class="small-12 columns">
            <div id="station-entry-log-list-view">
            </div>
        </div>
    </div>
    <div class="row collapse hidden">
        <div class="small-12 columns">
            <div id="station-list-view">
            </div>
        </div>
    </div>
    <div class="row collapse hidden">
        <div class="small-12 columns">
            <div id="personnel-list-view">
            </div>
        </div>
    </div>
    <div class="row collapse hidden">
        <div class="small-12 columns">
            <div id="report-list-view">
            </div>
        </div>
    </div>
</div>