<div class="dashboard-view">
    <div class="row collapse hidden">
        <div class="small-12 columns">
            <ul class="button-group even-2">
                <li>
                    <a id="refresh-station-list-button" class="button" href="#">{{{refreshStationListButtonTitleText}}}</a>
                </li>
                <li>
                    <a id="srefresh-station-entry-log-list-button" class="button" href="#">{{{refreshStationEntryLogListButtonTitleText}}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row collapse hidden">
        <div class="small-12 columns">
            <div id="station-list-view">
            </div>
        </div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <div id="station-entry-log-list-view">
            </div>
        </div>
    </div>
</div>