<div class="purpose-list-view">
    <div id="filter-and-list-header-area">
        <div class="row collapse">
            <div class="small-12 columns">
                <h3>{{resource "purposeList.viewTitleText"}}</h3>
            </div>
        </div>
        <div class="row collapse">
            <div class="small-2 columns">
                <a id="refresh-purpose-list-button" class="button radius" href="#">{{resource "refreshButtonText"}}</a>
            </div>
            <div class="small-10 columns">
                <span>&nbsp;</span>
            </div>
        </div>
        <div class="row collapse list-header-item-view">
            <div class="small-4 columns">
                <span>{{resource "itemTextHeaderText"}}</span>
            </div>
            <div class="small-2 columns">
                <span>{{resource "itemValueHeaderText"}}</span>
            </div>
            <div class="small-2 columns">
                <span>{{resource "itemEnabledHeaderText"}}</span>
            </div>
            <div class="small-2 columns">
                <span>{{resource "itemOrderHeaderText"}}</span>
            </div>
            <div class="small-2 columns">
                <span>&nbsp;</span>
            </div>
        </div>
        <div class="row collapse view-status hidden">
            <div class="small-12 columns">
                <span class="view-message">{{resource "purposeList.loadingMessage"}}</span>
                <img src="{{resource 'loadingIconSrc'}}" class="view-loading" />
            </div>
        </div>
        <div class="row collapse view-alerts">
            <div class="small-12 columns"></div>
        </div>
    </div>
    <div class="row collapse scroll">
        <div id="purpose-list-item-container" class="small-12 columns">
        </div>
    </div>
</div>