<div class="purpose-list-item-view">
    <div class="row collapse">
        <div class="small-4 columns">
            <input class="purpose-item-description" name="itemDescription" data-itemid="{{itemId}}" type="text" value="{{itemDescription}}" />
        </div>
        <div class="small-2 columns">
            <input class="purpose-item-duration" name="itemDuration" type="text" value="{{itemAdditionalData}}" />
        </div>
        <div class="small-2 columns">
            <input class="purpose-item-enabled" name="itemEnabled" type="text" value="{{itemEnabled}}" />
        </div>
        <div class="small-2 columns">
            <input class="purpose-item-order-number" name="itemOrderNumber" type="text" value="{{itemOrder}}" />
        </div>
        <div class="small-2 columns">
            <a class="purpose-item-save-link"><i class="fa fa-save"></i></a>
        </div>
    </div>
    <div class="row collapse view-alert">
        <div class="large-2 large-offset-8 columns">
        </div>        
    </div>
</div>
