<div class="purpose-list-view">
    <div class="row collapse">
        <div class="small-12 columns">
            <h3>Edit Purposes</h3>
        </div>
    </div>
    <div class="row collapse">
        <div class="small-2 columns">
            <a id="purpose-list-refresh-list-button" class="button radius">{{{refreshListButtonText}}}</a>
        </div>
        <div class="small-10 columns">
            <span>&nbsp;</span>
        </div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <ol id="purpose-list-header">
                <div class="row collapse list-header-item-view">
                    <div class="small-4 columns">
                        <span>Purpose Description</span>
                    </div>
                    <div class="small-2 columns">
                        <span>Default Duration (min)</span>
                    </div>
                    <div class="small-2 columns">
                        <span>Enabled (Y/N)</span>
                    </div>
                    <div class="small-2 columns">
                        <span>Sort Order</span>
                    </div>
                    <div class="small-2 columns">
                        <span>&nbsp;</span>
                    </div>
                </div>
                <div class="row collapse view-status hidden">
                    <div class="small-12 columns">
                        <span class="view-message">{{{loadingMessage}}}</span>
                        <img src="{{loadingIconSrc}}" class="view-loading" />
                    </div>
                </div>
                <div class="row collapse view-alerts">
                    <div class="small-12 columns"></div>
                </div>
            </ol>
        </div>
        <div class="small-12 columns">
            <ol id="purpose-list">
            </ol>
        </div>
    </div>
</div>