<div class="dashboard-list-item-view">
    <div class="row collapse">
        <div class="small-4 columns">
            <input class="item-text-input" name="itemText" data-item-id="{{itemId}}" type="text" placeholder="{{resource 'itemTextPlaceholderText'}}" value="{{itemText}}" />
        </div>
        <div class="small-2 columns">
            <select class="item-additional-data-filter" name="itemAdditionalData">
                <option disabled="disabled" selected="selected" value="">{{resource "filterDefaultOption"}}</option>
            </select>
        </div>
        <div class="small-2 columns">
            <select class="item-enabled-filter" name="itemEnabled">
                <option disabled="disabled" selected="selected" value="">{{resource "filterDefaultOption"}}</option>
                <option value="{{resource 'trueOptionValue'}}">{{resource "enabledOptionText"}}</option>
                <option value="{{resource 'falseOptionValue'}}">{{resource "disabledOptionText"}}</option>
            </select>
        </div>
        <div class="small-2 columns">
            <input class="item-order-input" name="itemOrder" type="text" placeholder="{{resource 'itemOrderPlaceholderText'}}" value="{{itemOrder}}" />
        </div>
        <div class="small-2 columns">
            <a class="save-lookup-data-item-button button radius tiny" href="#">{{resource "saveButtonText"}}</a>
            <a class="cancel-save-lookup-data-item-button button secondary radius tiny" href="#">{{resource "cancelButtonText"}}</a>
        </div>
    </div>
    <div class="row collapse view-status hidden">
        <div class="small-10 columns">
            &nbsp;
        </div>
        <div class="small-2 columns">
            <img src="{{resource 'loadingIconSrc'}}" class="view-loading" />
        </div>
    </div>
    <div class="row collapse view-alerts">
        <div class="small-10 columns">
            &nbsp;
        </div>
        <div class="small-2 columns"></div>
    </div>
</div>
