<div class="header-view">
    <div class="row collapse">
        <div class="small-8 columns">
            <h5 class="subheader">{{{appTitleText}}}</h5>
        </div>
        <div class="small-1 columns">
            <a id="go-to-station-entry-log-list-button" href="#">{{{goToStationEntryLogListButtonText}}}</a>
        </div>
        <div class="small-1 columns">
            <a id="go-to-station-entry-log-history-list-button" href="#">{{{goToStationEntryLogHistoryListButtonText}}}</a>
        </div>
        <div class="small-1 columns">
            <a id="go-to-station-list-button" href="#">{{{goToStationListButtonText}}}</a>
        </div>
        <div class="small-1 columns">
            <a id="go-to-personnel-list-button" href="#">{{{goToPersonnelListButtonText}}}</a>
        </div>
    </div>
</div>
