<div class="header-view">
    <div class="row collapse">
        <div class="large-7 columns" id="header-title-container">
            <h5 class="subheader">{{resource "appTitleText"}}</h5>
        </div>
        <div class="large-1 columns">
            <a id="go-to-station-entry-log-list-button">{{resource "goToStationEntryLogListButtonText"}}</a>
        </div>
        <div class="large-1 columns">
            <a id="go-to-station-entry-log-history-list-button">{{resource "goToStationEntryLogHistoryListButtonText"}}</a>
        </div>
        <div class="large-1 columns">
            <a id="go-to-station-list-button">{{resource "goToStationListButtonText"}}</a>
        </div>
        <div class="large-2 columns" id="go-to-personnel-link-container">
            <a id="go-to-personnel-list-button">{{resource "goToPersonnelListButtonText"}}</a>
        </div>
        <div class="large-2 columns hidden" id="go-to-maintain-purposes-link-container">
            <a id="go-to-maintain-purposes-button">{{resource "goToMaintainPurposesButtonText"}}</a>
        </div>
    </div>
</div>
