<div class="header-view">
    <div class="row collapse">
        <div class="small-6 columns" id="header-title-container">
            <h5 class="subheader">{{resource "appTitleText"}}</h5>
        </div>
        <div class="small-1 columns">
            <a id="go-to-station-entry-log-list-button" class="large-link" href="#">{{resource "goToStationEntryLogListButtonText"}}</a>
        </div>
        <div class="small-1 columns">
            <a id="go-to-station-entry-log-history-list-button" class="large-link" href="#">{{resource "goToStationEntryLogHistoryListButtonText"}}</a>
        </div>
        <div class="small-1 columns">
            <a id="go-to-station-list-button" class="large-link" href="#">{{resource "goToStationListButtonText"}}</a>
        </div>
        <div class="small-1 columns" id="go-to-personnel-link-container">
            <a id="go-to-personnel-list-button" class="large-link" href="#">{{resource "goToPersonnelListButtonText"}}</a>
        </div>
        <div class="small-2 columns hidden" id="go-to-maintain-purposes-link-container">
            <a id="go-to-maintain-purposes-button" class="large-link" href="#">{{resource "goToMaintainPurposesButtonText"}}</a>
        </div>
    </div>
</div>
