<div class="linked-station-view">
    <div class="panel callout">
        <div class="row collapse section-header">
            <div class="small-12 columns">
                <span>{{resource "linkedStationHeaderText"}}</span>
                <i class="fa fa-minus"></i>
            </div>
        </div>
        <div class="row collapse section-details">
            <div class="small-12 columns">
                <div id="read-only-linked-station-view" class="row collapse">
                    <div class="small-10 columns">
                        <span class="detail hidden">{{resource "stationNotLinkedMessageText"}}</span>
                        <span class="detail" id="linkedStationName">{{linkedStationName}}</span>
                    </div>
                </div>
                <div id="add-linked-station-view" class="row collapse">
                    <div class="small-10 columns">
                        <span id="linked-station-id-label">{{linkedStationId}}</span>
                        <div id="linked-station-id-input-container" class="hidden">
                        <input id="linked-station-id-input" name="linkedStationId" type="text" placeholder='{{resource "linkedStationIdPlaceholder"}}' value="{{linkedStationId}}" />
                        </div>
                    </div>
                    <div class="small-2 columns">
                        <a id="linked-station-add-button" class="button radius tiny hidden" href="#">{{resource "addButtonText"}}</a>
                        <a id="linked-station-cancel-button" class="button secondary radius tiny hidden" href="#">{{resource "cancelButtonText"}}</a>
                        <a id="linked-station-clear-button" class="button radius tiny hidden" href="#">{{resource "clearButtonText"}}</a>
                    </div>
                </div>
                <div id="clear-linked-station-view" class="row collapse">
                    <div class="small-10 columns">
                        <span class="detail hidden">{{resource "stationNotLinkedMessageText"}}</span>
                        <span class="detail" id="linkedStationName">{{linkedStationName}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row collapse section-header hidden">
            <div class="small-12 columns">
                <span>{{resource "linkedStationDetailsHeaderText"}}</span>
                <i class="fa fa-plus"></i>
            </div>
        </div>
        <div class="row collapse section-details hidden">
            <div class="small-12 columns">
                <div id="linked-station-details-view"></div>
            </div>
        </div>
    </div>
</div>