<div class="new-station-entry-log-view">
    <div class="row collapse">
        <div class="small-12 columns">
            <input id="new-station-entry-log-station-id" placeholder="station id" />
        </div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <input id="new-station-entry-log-personnel-id" placeholder="personnel id" />
        </div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <input id="new-station-entry-log-phone" placeholder="phone" />
        </div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <input id="new-station-entry-log-email" placeholder="email" />
        </div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <input id="new-station-entry-log-purpose" placeholder="purpose" />
        </div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <input id="new-station-entry-log-duration" placeholder="duration" />
        </div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <input id="new-station-entry-log-additional-info" placeholder="additional info" />
        </div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <input id="new-station-entry-log-with-crew" placeholder="with crew" />
        </div>
    </div>
</div>
