<div class="personnel-station-entry-log-list-item-view">
    <div class="row collapse elevated-functions-toggle">
        <div class="small-2 columns">
            <span class="collapse">
                <i class="fa fa-plus hide-container-icon"></i>
                <i class="fa fa-minus show-container-icon hidden"></i>
            </span>
            &nbsp;
            <a class="station-link" data-station-id="{{stationId}}" href="#">{{withDefault stationName "&nbsp;"}}</a>
        </div>
        <div class="small-2 columns">
            <span>{{formatDateWithDefault inTime "%D %I:%M %p" "&nbsp;"}}</span>
        </div>
        <div class="small-2 columns">
            <span>{{formatDateWithDefault outTime "%D %I:%M %p" "&nbsp;"}}</span>
        </div>
        <div class="small-2 columns">
            <span>{{formatTimespanWithDefault actualDuration "&nbsp;"}}</span>
        </div>
        <div class="small-2 columns">
            <span>{{{withDefault purpose "&nbsp;"}}}</span>
        </div>
        <div class="small-2 columns">
            <span>{{withDefault additionalInfo "&nbsp;"}}</span>
        </div>
    </div>
    <div class="row collapse elevated-functions-container hidden">
        <div class="small-2 columns">
            <a class="view-station-entry-log-button button radius tiny" href="#">{{resource "viewCheckInButtonText"}}</a>
        </div>
    </div>
</div>
