<div class="personnel-station-entry-log-list-view">
    <div id="filter-and-list-header-area">
        <div class="row collapse">
            <div class="small-12 columns">
                <h3>{{resource "historicalStationEntryLogList.viewTitleText"}}</h3>
            </div>
        </div>
        <div class="row collapse">
            <!-- SEARCH OPTIONS -->
            <div class="small-12 columns" style="margin-bottom: 15px;">
                <fieldset>
                    <legend>Search</legend>
                    <div class="row collapse">
                        <div class="small-1 columns">
                            <label>{{resource "filterStationEntryTypeHeaderText"}}</label> 
                            <input class="checkbox" id="filter-station-entry-tc" type="checkbox" checked="checked" style="min-width: 20px;" name="TC"/>TCOM<br>
                            <input class="checkbox" id="filter-station-entry-td" type="checkbox" checked="checked" style="min-width: 20px;" name="TD"/>T&D
                        </div>
                        <div class="small-2 columns">
                            <label>{{resource "nocStationNameHeaderText"}}</label>
                            <select id="station-filter">
                                <option selected="selected">{{resource "filterDefaultOption"}}</option>
                            </select>
                        </div>
                        <div class="small-4 columns">
                            &nbsp;
                        </div>
                        <div class="small-4 columns">
                            <div class="row collapse">
                                <div class="small-6 columns">
                                    <label>{{resource "startDateHeaderText"}}</label>
                                    <input id="start-date-filter" type="date">
                                </div>
                                <div class="small-6 columns">
                                    <label>{{resource "endDateHeaderText"}}</label>
                                    <input id="end-date-filter" type="date">
                                </div>
                            </div>
                            <div class="row collapse">
                                <span>{{resource "showPreviousHeaderText"}}</span>
                                <a class="button tiny radius refresh-button" data-days-to-add="-7" href="#">{{resource "sevenButtonText"}}</a> 
                                <a class="button tiny radius refresh-button" data-days-to-add="-14" href="#">{{resource "fourteenButtonText"}}</a> 
                                <a class="button tiny radius refresh-button" data-days-to-add="-30" href="#">{{resource "thirtyButtonText"}}</a> 
                                <a class="button tiny radius refresh-button" data-days-to-add="-90" href="#">{{resource "ninetyButtonText"}}</a>
                                <span>{{resource "daysHeaderText"}}</span>
                            </div>
                        </div>
                        <div class="small-1 columns">
                            &nbsp
                        </div>
                    </div>
                </fieldset>
            </div>
            </div>
        </div>
        <div class="row collapse">
            <!-- BUTTON CONTROLS -->
            <div class="small-3 columns">
                <a id="refresh-station-entry-log-list-button" class="button radius" href="#">{{resource "refreshButtonText"}}</a>
                <a id="reset-station-entry-log-list-button" class="button radius secondary" href="#">{{resource "resetButtonText"}}</a>
            </div>
            <div class="small-7 columns">
                <!--span>{{resource "showPreviousHeaderText"}}</span>
                <a class="button tiny radius refresh-button" data-days-to-add="-7" href="#">{{resource "sevenButtonText"}}</a> 
                <a class="button tiny radius refresh-button" data-days-to-add="-14" href="#">{{resource "fourteenButtonText"}}</a> 
                <a class="button tiny radius refresh-button" data-days-to-add="-30" href="#">{{resource "thirtyButtonText"}}</a> 
                <a class="button tiny radius refresh-button" data-days-to-add="-90" href="#">{{resource "ninetyButtonText"}}</a>
                <span>{{resource "daysHeaderText"}}</span-->
                &nbsp;
            </div>
            <div class="small-2 columns right-side-buttons">
                <a id="export-station-entry-log-list-button" class="button radius success" href="#">{{resource "exportButtonText"}}</a>
            </div>
        </div>

        <div class="row collapse list-header-item-view">
            <!-- LIST HEADER -->
            <div class="small-2 columns">
                <span>
                    <a class="sort-button" data-sort-attribute="stationName" href="#">{{resource "stationNameHeaderText"}}</a>
                </span>
            </div>
            <div class="small-2 columns">
                <span>
                    <a class="sort-button" data-sort-attribute="inTime" href="#">{{resource "inTimeHeaderText"}}</a>
                </span>
            </div>
            <div class="small-2 columns">
                <span>
                    <a class="sort-button" data-sort-attribute="outTime" href="#">{{resource "outTimeHeaderText"}}</a>
                </span>
            </div>
            <div class="small-2 columns">
                <span>{{resource "actualDurationHeaderText"}}</span>
            </div>
            <div class="small-2 columns">
                <span>{{resource "purposeHeaderText"}}</span>
            </div>
            <div class="small-2 columns">
                <span>{{resource "additionalInfoHeaderText"}}</span>
            </div>
        </div>
        <div class="row collapse view-status hidden">
            <!-- LOADING INDICATOR -->
            <div class="small-12 columns">
                <span class="view-message">{{resource "stationEntryLogList.loadingMessage"}}</span>
                <img src="{{resource 'loadingIconSrc'}}" class="view-loading" />
            </div>
        </div>
        <div class="row collapse view-alerts">
            <!-- ALERTS -->
            <div class="small-12 columns"></div>
        </div>
    </div>
    <div class="row collapse scroll">
            <!-- LIST CONTENT -->
        <div id="station-entry-log-list-item-container" class="small-12 columns">
        </div>
    </div>
</div>