<div class="personnel-list-view">
    <div class="row collapse">
        <div class="large-12 columns">
            <h2>{{resource "personnelList.viewTitleText"}}</h2>
        </div>
    </div>
    <div class="row collapse">
        <div class="large-2 columns">
            <label>{{resource "userNameHeaderText"}}</label>
            <input id="user-name-input" type="search" placeholder="{{resource 'userNameSearchQueryPlaceholderText'}}" spellcheck="false" autocomplete="off" />
        </div>
    </div>
    <div class="row collapse">
        <a id="refresh-personnel-list-button" class="button radius" href="#">{{resource "refreshButtonText"}}</a>
        <a id="reset-personnel-list-button" class="button radius secondary" href="#">{{resource "resetButtonText"}}</a>
    </div>
    <div class="row collapse list-header-item-view">
        <div class="row collapse">
            <div class="large-3 columns">
                <span>
                    <a class="sort-button" data-sort-attribute="userName" href="#">{{resource "userNameHeaderText"}}</a>
                </span>
            </div>
            <div class="large-3 columns">
                <span>
                    <a class="sort-button" data-sort-attribute="userId" href="#">{{resource "userIdHeaderText"}}</a>
                </span>
            </div>
            <div class="large-3 columns">
                <span>
                    <a class="sort-button" data-sort-attribute="contactNumber" href="#">{{resource "contactNumberHeaderText"}}</a>
                </span>
            </div>
            <div class="large-3 columns">
                <span>
                    <a class="sort-button" data-sort-attribute="email" href="#">{{resource "emailHeaderText"}}</a>
                </span>
            </div>
        </div>
    </div>
    <div class="row collapse view-status hidden">
        <div class="large-12 columns">
            <span class="view-message">{{resource "personnelList.loadingMessage"}}</span>
            <img src="{{resource 'loadingIconSrc'}}" class="view-loading" alt="{{resource 'loadingIconAlt'}}" />
        </div>
    </div>
    <div class="row collapse view-alerts">
        <div class="large-12 large-12 columns"></div>
    </div>
    <div class="row collapse scroll">
        <div id="personnel-list-item-container" class="large-12 columns">
        </div>
    </div>
</div>