<div class="personnel-list-view">
    <div class="row collapse">
        <div class="small-12 columns">
            <h2>{{listViewTitleText}}</h2>
        </div>
    </div>
    <div class="row collapse">
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <ol class="view-list">
                <div class="row collapse">
                    <div class="small-3 columns">
                        <span>Username</span>
                    </div>
                    <div class="small-3 columns">
                        <span>Contact Number</span>
                    </div>
                    <div class="small-3 columns">
                        <span>Email</span>
                    </div>
                    <div class="small-3 columns">
                        <span>UserId</span>
                    </div>
                </div>
            </ol>
        </div>
    </div>
</div>