<div class="personnel-view">
    <div id="personnel-open-entry-area">
        <div class="row collapse view-status">
            <div class="small-12 columns">
                <span class="view-message">{{resource "personnel.loadingMessage"}}</span>
                <img src="{{resource 'loadingIconSrc'}}" class="view-loading" />
            </div>
        </div>
        <div class="row collapse view-alerts">
            <div class="small-12 columns"></div>
        </div>
        <div class="row collapse view-details hidden">
            <div class="row collapse">
                <div class="small-2 columns">
                    <div class="row collapse">
                        <div class="small-12 columns">
                            <h3 id="user-name-input"></h3>
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-12 columns">
                            <span id="contact-number-input"></span>
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-12 columns">
                            <span id="email-input"></span>
                        </div>
                    </div>
                </div>
                <div class="small-10 columns">
                    <div id="personnel-open-station-entry-log-view"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row collapse view-details hidden">
        <div class="row collapse">
            <div class="small-12 columns">
                <div id="personnel-station-entry-log-list-view"></div>
            </div>
        </div>
    </div>
</div>
