<div class="personnel-station-entry-log-list-item-view">
    <div class="row collapse">
        <div class="small-2 columns">
            <a class="station-name-link" data-stationid="{{stationId}}">{{withDefault stationName "&nbsp;"}}</a>
        </div>
        <!--
        <div class="small-1 columns">
            <i id="third-party-icon" class="fa fa-globe hidden"></i>
            <a class="personnel-name-link" data-userid="{{userId}}">{{withDefault userName "&nbsp;"}}</a>
        </div>
        <div class="small-1 columns">
            <span>{{formatPhoneWithDefault contactNumber "%D %I:%M %p" "&nbsp;"}}</span>
        </div>
        -->
        <div class="small-2 columns">
            <span>{{formatDateWithDefault inTime "%D %I:%M %p" "&nbsp;"}}</span>
        </div>
        <div class="small-2 columns">
            <span>{{formatDateWithDefault outTime "%D %I:%M %p" "&nbsp;"}}</span>
        </div>
        <div class="small-3 columns">
            <span>{{{withDefault purpose "&nbsp;"}}}</span>
        </div>
        <div class="small-3 columns">
            <span>{{withDefault additionalInfo "&nbsp;"}}</span>
        </div>
        <!--
        <div class="small-1 columns">
            <span>{{withDefault regionName "&nbsp;"}}</span>
        </div>
        <div class="small-1 columns">
            <span>{{withDefault areaName "&nbsp;"}}</span>
        </div>
        -->
    </div>
</div>
