<div class="personnel-list-view">
    <div class="row collapse">
        <div class="small-12 columns">
            <h2>{{resource "personnelList.viewTitleText"}}</h2>
        </div>
    </div>
    <div class="row collapse">
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <ol class="view-list">
                <div class="row collapse">
                    <div class="small-3 columns">
                        <span>{{resource "userNameHeaderText"}}</span>
                    </div>
                    <div class="small-3 columns">
                        <span>{{resource "contactNumberHeaderText"}}</span>
                    </div>
                    <div class="small-3 columns">
                        <span>{{resource "emailHeaderText"}}</span>
                    </div>
                    <div class="small-3 columns">
                        <span>{{resource "userIdHeaderText"}}</span>
                    </div>
                </div>
            </ol>
        </div>
    </div>
</div>