<div class="personnel-view">
    <div class="row collapse view-status">
        <div class="small-12 columns">
            <span class="view-message">{{{loadingMessage}}}</span>
            <img src="{{loadingIconSrc}}" class="view-loading" />
        </div>
    </div>
    <div class="row collapse details-header">
        <div class="small-12 columns">
            <h3 id="personnel-name">{{firstName}}&nbsp;{{lastName}}</h3>
        </div>
    </div>
    <div class="row collapse details-header">
        <div class="small-12 columns">
            <span id="personnel-contact-number">{{contactNumber}}</span>
        </div>
    </div>
    <div class="row collapse details-header">
        <div class="small-12 columns">
            <span id="personnel-email">{{email}}</span>
        </div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <div id="personnel-station-entry-log-list-view"></div>
        </div>
    </div>
</div>
