<div class="station-list-item-view">
    <div class="row collapse">
        <div class="small-3 columns">
            <a class="station-name-link" data-stationid="{{stationId}}">{{stationName}}</a>
        </div>
        <div class="small-3 columns">
            <span>{{area}}</span>
        </div>
        <div class="small-3 columns">
            <span>{{region}}</span>
        </div>
        <div class="small-3 columns">
            <span>{{placeholder}}</span>
        </div>
    </div>
</div>
