<div class="station-entry-log-history-list-view">
    <div class="row collapse">
        <div class="small-12 columns">
            <h3>{{listViewTitleText}}</h3>
        </div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <a id="station-entry-log-history-list-refresh-list-button" class="button">{{{refreshListButtonText}}}</a>
            <a id="station-entry-log-history-list-show-list-options-button" class="button alert">{{{showListOptionsButtonText}}}</a>
            <a id="station-entry-log-history-list-reset-list-options-button" class="button secondary hidden">{{{resetListOptionsButtonText}}}</a>
        </div>
    </div>
    <div id="station-entry-log-history-list-options-view" class="row collapse hidden">
        <div class="small-2 columns">
            <label>{{{stationNameHeaderText}}}</label>
            <select id="station-entry-log-history-list-station-identifier-filter">
                <option disabled="disabled" selected="selected">{{{stationIdentifierFilterDefaultOption}}}</option>
            </select>
        </div>
        <div class="small-2 columns">
            <label>{{{regionHeaderText}}}</label>
            <select id="station-entry-log-history-list-region-filter">
                <option disabled="disabled" selected="selected">{{{regionFilterDefaultOption}}}</option>
            </select>
        </div>
        <div class="small-2 columns">
            <label>{{{areaHeaderText}}}</label>
            <select id="station-entry-log-history-list-area-filter">
                <option disabled="disabled" selected="selected">{{{areaFilterDefaultOption}}}</option>
            </select>
        </div>
        <div class="small-3 columns">
            <label>{{{startDateTimeHeaderText}}}</label>
            <input id="station-entry-log-history-list-start-date-filter" type="date">
            <input id="station-entry-log-history-list-start-time-filter" type="time">
        </div>
        <div class="small-3 columns">
            <label>{{{endDateTimeHeaderText}}}</label>
            <input id="station-entry-log-history-list-end-date-filter" type="date">
            <input id="station-entry-log-history-list-end-time-filter" type="time">
        </div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <ol id="station-entry-log-history-list">
                <div class="row collapse list-header-item-view">
                    <div class="small-2 columns">
                        <span>{{{stationNameHeaderText}}}</span>
                    </div>
                    <div class="small-2 columns">
                        <span>{{{personnelNameHeaderText}}}</span>
                    </div>
                    <div class="small-1 columns">
                        <span>{{{contactHeaderText}}}</span>
                    </div>
                    <div class="small-1 columns">
                        <span>{{{inTimeHeaderText}}}</span>
                    </div>
                    <div class="small-2 columns">
                        <span>
                            <a id="station-entry-log-history-list-out-time-sort-button" href="#" data-sort-direction="1">{{{outTimeHeaderText}}}</a>
                            <i id="station-entry-log-history-list-out-time-sort-ascending-indicator" class="fa fa-sort-amount-asc"></i>
                        </span>
                    </div>
                    <div class="small-1 columns">
                        <span>{{{purposeHeaderText}}}</span>
                    </div>
                    <div class="small-1 columns">
                        <span>{{{additionalInfoHeaderText}}}</span>
                    </div>
                    <div class="small-1 columns">
                        <span>
                            <a id="station-entry-log-history-list-region-sort-button" href="#" data-sort-direction>{{{regionHeaderText}}}</a>
                            <i id="station-entry-log-history-list-region-sort-ascending-indicator" class="fa fa-sort-amount-asc hidden"></i>
                            <i id="station-entry-log-history-list-region-sort-descending-indicator" class="fa fa-sort-amount-desc hidden"></i>
                        </span>
                    </div>
                    <div class="small-1 columns">
                        <span>
                            <a id="station-entry-log-history-list-area-sort-button" href="#" data-sort-direction>{{{areaHeaderText}}}</a>
                            <i id="station-entry-log-history-list-area-sort-ascending-indicator" class="fa fa-sort-amount-asc hidden"></i>
                            <i id="station-entry-log-history-list-area-sort-descending-indicator" class="fa fa-sort-amount-desc hidden"></i>
                        </span>
                    </div>
                </div>
                <div class="row collapse view-status hidden">
                    <div class="small-12 columns">
                        <span class="view-message">{{{loadingMessage}}}</span>
                        <img src="{{loadingIconSrc}}" class="view-loading" />
                    </div>
                </div>
            </ol>
        </div>
    </div>
</div>