<div class="station-entry-log-view">
    <fieldset class="edit-station-entry-log-view">
        <legend>Edit Check-In</legend>

        <div class="row collapse">
            <!-- ERROR Message -->
            <div class="error view-error hidden">
                <span class="text-detail">{{errorMessage}}</span>
            </div>

            <div class="small-1 large-1 columns">
                <div id="user-label-container">
                    <label for="edit-station-entry-log-user-id">{{{userIdHeaderText}}}</label>
                </div>
                <div id="third-party-user-label-container" class="hidden">
                    <label for="edit-station-entry-log-company-name">{{{companyNameHeaderText}}}</label>
                </div>
            </div>
            <div class="small-2 large-4 columns">
                <div id="user-container">
                    <input id="edit-station-entry-log-user-id" name="userId" placeholder="{{{userIdHeaderText}}}" />
                </div>
                <div id="third-party-user-container" class="hidden">
                    <input id="edit-station-entry-log-company-name" name="companyName" placeholder="{{{companyNameHeaderText}}}" />
                </div>
            </div>

            <div class="small-1 large-1 columns">
                &nbsp;
            </div>
            <div class="small-2 large-2 columns">
                <input disabled id="edit-station-entry-log-first-name" name="firstName" placeholder="{{{firstNameHeaderText}}}" />
            </div>
            <div class="small-2 large-2 columns">
                <input disabled id="edit-station-entry-log-middle-initial" name="middleInitial" placeholder="{{{middleInitialHeaderText}}}" />
            </div>
            <div class="small-2 large-2 columns">
                <input disabled id="edit-station-entry-log-last-name" name="lastName" placeholder="{{{lastNameHeaderText}}}" />
            </div>
        </div>

        <div class="row collapse">
            <div class="small-1 large-1 columns">
                <label for="edit-station-entry-log-contact-number">{{{contactNumberHeaderText}}}
                </label>
            </div>
            <div class="small-2 large-2 columns">
                <input disabled id="edit-station-entry-log-contact-number" name="contactNumber" placeholder="{{{contactNumberHeaderText}}}" />
            </div>
            <div class="small-3 large-3 columns">
                &nbsp;
            </div>
            <div class="small-3 large-3 columns">
                <input disabled id="edit-station-entry-log-email" name="email" placeholder="{{{emailHeaderText}}}" />
            </div>
            <div class="small-3 large-3 columns">
                &nbsp;
            </div>
        </div>

        <div class="row collapse">
            <div class="small-1 large-1 columns">
                <label for="edit-station-entry-log-station-id">{{{stationIdHeaderText}}}</label>
            </div>
            <div class="small-11 large-11 columns">
                <span id="edit-station-entry-log-station-id">{{stationId}}</span>
            </div>
        </div>
        
        <!--Old Duration-->
        <div class="row collapse">
            <div class="small-1 large-1 columns">
                <label for="edit-station-entry-log-purpose">{{{purposeHeaderText}}}
                </label>
            </div>
            <div class="small-2 large-2 columns">
                <span id="edit-station-entry-log-purpose">{{withDefault purpose "&nbsp;"}}</span>
            </div>
            <div class="small-1 large-1 columns">
                <label for="edit-station-entry-log-duration">{{{durationHeaderText}}}</label>
            </div>
            <div class="small-2 large-2 columns">
                <span id="edit-station-entry-log-duration-old">{{{withDefault duration "&nbsp;"}}}</span>
            </div>
            <div class="small-1 large-1 columns">
                <label for="edit-station-entry-log-expected-out-time-old">{{{expectedOutTimeHeaderText}}}</label>
            </div>
            <div class="small-2 large-2 columns">
                <span id="edit-station-entry-log-expected-out-time-old">{{{expectedOutTimeHeaderText}}}</span>
            </div>
            <div class="small-3 large-3 columns">
                &nbsp;
        </div>
            
        <!--New Duration-->
        </div><div class="row collapse">
            <div class="small-1 large-1 columns">
                &nbsp;
            </div>
            <div class="small-2 large-2 columns">
                &nbsp;
            </div>
            <div class="small-1 large-1 columns">
                <label for="edit-station-entry-log-duration">{{{durationHeaderTextNew}}}</label>
            </div>
            <div class="small-2 large-2 columns">
                <select id="edit-station-entry-log-duration" name="duration">
                    <option disabled="disabled" selected="selected" value="">{{{withDefault duration "&nbsp;"}}}</option>
                </select>
            </div>
            <div class="small-1 large-1 columns">
                <label for="edit-station-entry-log-expected-out-time">{{{expectedOutTimeHeaderTextNew}}}</label>
            </div>
            <div class="small-2 large-2 columns">
                <span id="edit-station-entry-log-expected-out-time">{{{expectedOutTimeHeaderTextNew}}}</span>
            </div>
            <div class="small-3 large-3 columns">
                &nbsp;
            </div>
        </div>
        
        <div class="row collapse">
            <div class="small-1 large-1 columns">
                <label for="edit-station-entry-log-additional-info">{{{additionalInfoHeaderText}}}</label>
            </div>
            <div class="small-5 large-5 columns">
                <textarea id="edit-station-entry-log-additional-info" name="additionalInfo" placeholder="{{{withDefault additionalInfo "&nbsp;"}}}" rows="2" ></textarea>
            </div>
            <div class="small-1 large-1 columns">
                <label for="edit-station-entry-log-station-has-crew">{{{hasCrewHeaderText}}}</label>
            </div>
            <div class="small-5 large-5 columns">
                <span id="edit-station-entry-log-has-crew">{{hasCrew}}</span>
            </div>
        </div>
       
        <!--Row 8-->
        <div class="row collapse">
            <div class="large-6 columns">
                &nbsp;
            </div>
            <div class="large-6 columns">
                <a id="edit-station-entry-log-save-button" class="button">{{{saveButtonText}}}</a>
                <a id="edit-station-entry-log-cancel-button" class="button secondary">{{{cancelButtonText}}}</a>
            </div>
        </div>

    </fieldset>
</div>
