<div class="station-entry-log-list-view">
    <div class="row collapse">
        <div class="small-12 columns">
            <h3>{{listViewTitleText}}</h3>
        </div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <a id="station-entry-log-list-refresh-list-button" class="button">{{{refreshListButtonText}}}</a>
            <a id="station-entry-log-list-show-list-options-button" class="button alert">{{{showListOptionsButtonText}}}</a>
            <a id="station-entry-log-list-reset-list-options-button" class="button secondary hidden">{{{resetListOptionsButtonText}}}</a>
        </div>
    </div>
    <div id="station-entry-log-list-options-view" class="row collapse hidden">
        <div class="small-2 columns">
            <select id="station-entry-log-list-status-filter">
                <option value="{{{statusFilterOpenOption}}}">{{{statusFilterOpenOption}}}</option>
                <option value="{{{statusFilterExpiredOption}}}">{{{statusFilterExpiredOption}}}</option>
            </select>
        </div>
        <div class="small-2 columns">
            <select id="station-entry-log-list-region-filter">
                <option disabled="disabled" selected="selected">{{{regionFilterDefaultOption}}}</option>
            </select>
        </div>
        <div class="small-2 columns">
            <select id="station-entry-log-list-area-filter">
                <option disabled="disabled" selected="selected">{{{areaFilterDefaultOption}}}</option>
            </select>
        </div>
        <div class="small-6 columns">
            <span>&nbsp;</span>
        </div>
    </div>
    <div class="row collapse view-status hidden">
        <div class="small-12 columns">
            <span class="view-message"></span>
            <img src="{{loadingIconSrc}}" class="view-loading" />
        </div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <ol id="station-entry-log-list">
                <div class="row collapse list-header-item-view">
                    <div class="small-2 columns">
                        <span>{{{stationNameHeaderText}}}</span>
                    </div>
                    <div class="small-2 columns">
                        <span>{{{personnelNameHeaderText}}}</span>
                    </div>
                    <div class="small-1 columns">
                        <span>{{{contactHeaderText}}}</span>
                    </div>
                    <div class="small-1 columns">
                        <span>{{{inTimeHeaderText}}}</span>
                    </div>
                    <div class="small-2 columns">
                        <span>
                        <a id="station-entry-log-list-expected-out-time-sort-button" href="#" data-sort-direction="1">{{{expectedOutTimeHeaderText}}}</a>
                       <i id="station-entry-log-list-out-time-sort-ascending-indicator" class="fa fa-sort-amount-asc"></i>
                       </span>
                    </div>
                    <div class="small-1 columns">
                        <span>{{{purposeHeaderText}}}</span>
                    </div>
                    <div class="small-1 columns">
                        <span>{{{additionalInfoHeaderText}}}</span>
                    </div>
                    <div class="small-1 columns">
                        <span>
                        <a id="station-entry-log-list-region-sort-button" href="#">{{{regionHeaderText}}}</a>
                        <i id="station-entry-log-list-region-sort-ascending-indicator" class="fa fa-sort-amount-asc hidden"></i>
                            <i id="station-entry-log-list-region-sort-descending-indicator" class="fa fa-sort-amount-desc hidden"></i>
                            </span>
                    </div>
                    <div class="small-1 columns">
                        <span>
                        <a id="station-entry-log-list-area-sort-button" href="#">{{{areaHeaderText}}}</a>
                            <i id="station-entry-log-list-area-sort-ascending-indicator" class="fa fa-sort-amount-asc hidden"></i>
                            <i id="station-entry-log-list-area-sort-descending-indicator" class="fa fa-sort-amount-desc hidden"></i>
                        </span>
                    </div>
                </div>
            </ol>
        </div>
    </div>
</div>