<div class="station-entry-log-history-list-view">
    <div class="row collapse">
        <div class="small-12 columns">
            <h2>{{listViewTitleText}}</h2>
        </div>
    </div>
    <div class="row collapse">
        <form method="get" data-abide>
            <div class="small-2 columns">
                <select id="station-entry-log-history-list-station-identifier-filter">
                    <option disabled="disabled" selected="selected">{{{stationIdentifierFilterDefaultOption}}}</option>
                </select>
            </div>
            <div class="small-1 columns">
                <select id="station-entry-log-history-list-region-filter">
                    <option disabled="disabled" selected="selected">{{{regionFilterDefaultOption}}}</option>
                </select>
            </div>
            <div class="small-1 columns">
                <select id="station-entry-log-history-list-area-filter">
                    <option disabled="disabled" selected="selected">{{{areaFilterDefaultOption}}}</option>
                </select>
            </div>
            <div class="small-1 columns">
                <span>start:</span>
            </div>
            <div class="small-1 columns no-padding">
                <input id="station-entry-log-history-list-start-date-filter" type="date">
            </div>
            <div class="small-1 columns no-padding">
                <input id="station-entry-log-history-list-start-time-filter" type="time">
            </div>
            <div class="small-1 columns">
                <span>end:</span>
            </div>
            <div class="small-1 columns no-padding">
                <input id="station-entry-log-history-list-end-date-filter" type="date">
            </div>
            <div class="small-1 columns no-padding">
                <input id="station-entry-log-history-list-end-time-filter" type="time">
            </div>
            <div class="small-2 columns">
                <a id="station-entry-log-history-list-update-filter-button" class="button tiny default">{{{updateListFilterButtonText}}}</a>
            </div>
        </form>
    </div>
    <div class="row collapse view-status hidden">
        <div class="small-12 columns">
            <span class="view-message"></span>
            <img src="{{loadingIconSrc}}" class="view-loading" />
        </div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <ol class="view-list">
                <div class="row collapse">
                    <div class="small-2 columns">
                        <span>{{{stationNameHeaderText}}}</span>
                    </div>
                    <div class="small-2 columns">
                        <span>{{{personnelNameHeaderText}}}</span>
                    </div>
                    <div class="small-1 columns">
                        <span>{{{contactHeaderText}}}</span>
                    </div>
                    <div class="small-1 columns">
                        <span>{{{inTimeHeaderText}}}</span>
                    </div>
                    <div class="small-2 columns">
                        <span>{{{outTimeHeaderText}}}</span>
                        <span id="station-entry-log-history-list-out-time-sort-ascending-indicator">+</span>
                    </div>
                    <div class="small-1 columns">
                        <span>{{{purposeHeaderText}}}</span>
                    </div>
                    <div class="small-1 columns">
                        <span>{{{additionalInfoHeaderText}}}</span>
                    </div>
                    <div class="small-1 columns">
                        <a id="station-entry-log-history-list-region-sort-button" href="#">{{{regionHeaderText}}}</a>
                        <span id="station-entry-log-history-list-region-sort-ascending-indicator" class="hidden">+</span>
                        <span id="station-entry-log-history-list-region-sort-descending-indicator" class="hidden">-</span>
                    </div>
                    <div class="small-1 columns">
                        <a id="station-entry-log-history-list-area-sort-button" href="#">{{{areaHeaderText}}}</a>
                        <span id="station-entry-log-history-list-area-sort-ascending-indicator" class="hidden">+</span>
                        <span id="station-entry-log-history-list-area-sort-descending-indicator" class="hidden">-</span>
                    </div>
                </div>
            </ol>
        </div>
    </div>
</div>