<div class="station-entry-log-list-view">
    <div class="row collapse">
        <div class="small-12 columns">
            <h2>{{listViewTitleText}}</h2>
        </div>
    </div>
    <div class="row collapse">
        <div class="small-2 columns">
            <label for="station-entry-log-list-status-filter">{{{listFilterHeaderText}}}&#58;&#160;
                <select id="station-entry-log-list-status-filter">
                    <option value="open">open</option>
                    <option value="expired">expired</option>
                    <option value="all">all</option>
                </select>
            </label>
        </div>
        <div class="small-2 columns">
            <label for="station-entry-log-list-region-filter">&#160;
                <select id="station-entry-log-list-region-filter">
                    <option disabled="disabled" selected="selected" class="disstyleableMe">region</option>
                </select>
            </label>
        </div>
        <div class="small-2 columns">
            <label for="station-entry-log-list-area-filter">&#160;
                <select id="station-entry-log-list-area-filter">
                    <option disabled="disabled" selected="selected" class="disstyleableMe">area</option>
                </select>
            </label>
        </div>
        <div class="small-6 columns">
            &#160;
        </div>
    </div>
    <div class="row collapse hidden">
        <div class="small-12 columns view-status">
            <span class="view-message"></span>
            <img src="{{loadingIconSrc}}" class="view-loading" />
        </div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <ol class="view-list">
                <div class="row">
                    <div class="small-2 columns">
                        <span>{{{stationNameHeaderText}}}</span>
                    </div>
                    <div class="small-2 columns">
                        <span>{{{personnelNameHeaderText}}}</span>
                    </div>
                    <div class="small-2 columns">
                        <span>{{{contactHeaderText}}}</span>
                    </div>
                    <div class="small-1 columns">
                        <span>{{{inTimeHeaderText}}}</span>
                    </div>
                    <div class="small-1 columns">
                        <span>{{{durationHeaderText}}}</span>
                    </div>
                    <div class="small-1 columns">
                        <span>{{{outTimeHeaderText}}}</span>
                    </div>
                    <div class="small-1 columns">
                        <span>{{{purposeHeaderText}}}</span>
                    </div>
                    <div class="small-2 columns">
                        <span>{{{additionalInfoHeaderText}}}</span>
                    </div>
                </div>
            </ol>
        </div>
    </div>
</div>