<div class="station-entry-log-list-view">
    <div class="row collapse">
        <div class="small-12 columns">
            <h3>{{resource "openStationEntryLogList.viewTitleText"}}</h3>
        </div>
    </div>
    <div class="row collapse">
        <div class="small-2 columns">
            <select id="station-entry-log-list-status-filter">
                <option value="{{resource 'statusFilterOpenOption'}}">{{resource "statusFilterOpenOption"}}</option>
                <option value="{{resource 'statusFilterExpiredOption'}}">{{resource "statusFilterExpiredOption"}}</option>
            </select>
        </div>
        <div class="small-2 columns">
            <select id="station-entry-log-list-region-filter">
                <option disabled="disabled" selected="selected">{{resource "regionNameFilterDefaultOption"}}</option>
            </select>
        </div>
        <div class="small-2 columns">
            <select id="station-entry-log-list-area-filter">
                <option disabled="disabled" selected="selected">{{resource "areaNameFilterDefaultOption"}}</option>
            </select>
        </div>
        <div class="small-3 columns">
            <a id="station-entry-log-list-refresh-list-button" class="button radius">{{resource "refreshButtonText"}}</a>
            <a id="station-entry-log-list-reset-list-options-button" class="button radius secondary">{{resource "resetButtonText"}}</a>
        </div>
        <div class="small-3 columns">
            <a id="new-station-entry-log-button" class="button radius alert hidden">{{resource "newCheckInButtonText"}}</a>
        </div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <div id="new-station-entry-log-view-container"></div>
        </div>
    </div>

    <div class="row collapse">
        <div class="small-12 columns left-align">  
            <div id="svg-station-entry-log-open-count" class="small-1 columns invisible">
                <svg  width="100" height="50">
                <circle cx="20" cy="20" r="15" stroke="#c2c2c2" stroke-width="1" fill="#DEDEDE" />
                <text id="station-entry-log-open-count" x="40" y="30" font-family="sans-serif" font-size="20px" fill="black"></text>
                </svg>
            </div>
            <div id="svg-station-entry-log-expired-count" class="small-1 columns invisible">
                <svg width="100" height="50">
                <circle cx="20" cy="20" r="15" stroke="#c2c2c2" stroke-width="1" fill="#ffffcc" />
                <text id="station-entry-log-expired-count" x="40" y="30" font-family="sans-serif" font-size="20px" fill="black"></text>
                </svg>
            </div>
            <div id="svg-station-entry-log-overdue-count" class="small-10 columns invisible">
                <svg width="100" height="50">
                <circle cx="20" cy="20" r="15" stroke="#c2c2c2" stroke-width="1" fill="#ffcccc" />
                <text id="station-entry-log-overdue-count" x="40" y="30" font-family="sans-serif" font-size="20px" fill="black"></text>
                </svg>
            </div>
        </div>
    </div>

    <div class="row collapse">
        <div class="small-12 columns">
            <ol id="station-entry-log-list-header">
                <div class="row collapse list-header-item-view">
                    <div class="small-1 columns">
                        <span>{{resource "stationNameHeaderText"}}</span>
                    </div>
                    <div class="small-1 columns">
                        <span>{{resource "userNameHeaderText"}}</span>
                    </div>
                    <div class="small-1 columns">
                        <span>{{resource "contactNumberHeaderText"}}</span>
                    </div>
                    <div class="small-2 columns">
                        <span>{{resource "inTimeHeaderText"}}</span>
                    </div>
                    <div class="small-2 columns">
                        <span>
                            <a id="station-entry-log-list-expected-out-time-sort-button" href="#" data-sort-direction="1">{{resource "expectedOutTimeHeaderText"}}</a>
                            <i id="station-entry-log-list-out-time-sort-ascending-indicator" class="fa fa-sort-amount-asc"></i>
                        </span>
                    </div>
                    <div class="small-1 columns">
                        <span>{{resource "purposeHeaderText"}}</span>
                    </div>
                    <div class="small-2 columns">
                        <span>{{resource "additionalInfoHeaderText"}}</span>
                    </div>
                    <div class="small-1 columns">
                        <span>
                            <a id="station-entry-log-list-region-sort-button" href="#" data-sort-direction>{{resource "regionNameHeaderText"}}</a>
                            <i id="station-entry-log-list-region-sort-ascending-indicator" class="fa fa-sort-amount-asc hidden"></i>
                            <i id="station-entry-log-list-region-sort-descending-indicator" class="fa fa-sort-amount-desc hidden"></i>
                        </span>
                    </div>
                    <div class="small-1 columns">
                        <span>
                            <a id="station-entry-log-list-area-sort-button" href="#" data-sort-direction>{{resource "areaNameHeaderText"}}</a>
                            <i id="station-entry-log-list-area-sort-ascending-indicator" class="fa fa-sort-amount-asc hidden"></i>
                            <i id="station-entry-log-list-area-sort-descending-indicator" class="fa fa-sort-amount-desc hidden"></i>
                        </span>
                    </div>
                </div>
                <div class="row collapse view-alerts">
                    <div class="small-12 large-12 columns"></div>
                </div>
                <div class="row collapse view-status hidden">
                    <div class="small-12 columns">
                        <span class="view-message">{{resource "stationEntryLogList.loadingMessage"}}</span>
                        <img src="{{resource 'loadingIconSrc'}}" class="view-loading" />
                    </div>
                </div>
            </ol>
        </div>
        <div class="small-12 columns divWithScroll">
            <ol id="station-entry-log-list">
            </ol>
        </div>
    </div>
</div>