<div class="dashboard-list-view">
    <div class="row collapse">
        <div class="small-12 columns">
            <h3>{{resource "historicalStationEntryLogList.viewTitleText"}}</h3>
        </div>
    </div>
    <div class="row collapse view-filter">
        <div class="small-2 columns">
            <label>{{resource "stationNameHeaderText"}}</label>
            <select id="station-filter">
                <option disabled="disabled" selected="selected">{{resource "filterDefaultOption"}}</option>
            </select>
        </div>
        <div class="small-2 columns">
            <label>{{resource "regionNameHeaderText"}}</label>
            <select id="region-filter">
                <option disabled="disabled" selected="selected">{{resource "filterDefaultOption"}}</option>
            </select>
        </div>
        <div class="small-2 columns">
            <label>{{resource "areaNameHeaderText"}}</label>
            <select id="area-filter">
                <option disabled="disabled" selected="selected">{{resource "filterDefaultOption"}}</option>
            </select>
        </div>
        <div class="small-2 columns">
            <label>{{resource "startDateHeaderText"}}</label>
            <input id="start-date-filter" type="date">
        </div>
        <div class="small-2 columns">
            <label>{{resource "endDateHeaderText"}}</label>
            <input id="end-date-filter" type="date">
        </div>
        <div class="small-2 columns">
            &nbsp;
        </div>
    </div>
    <div class="row collapse view-filter">
        <div class="small-6 columns">
            <a id="refresh-station-entry-log-list-button" class="button radius" href="#">{{resource "refreshButtonText"}}</a>
            <a id="reset-station-entry-log-list-button" class="button radius secondary" href="#">{{resource "resetButtonText"}}</a>
        </div>
        <div class="small-5 columns">
            <span>{{resource "showPreviousHeaderText"}}</span>
            <a class="button tiny radius refresh-button" data-days-to-add="-7" href="#">{{resource "sevenButtonText"}}</a> 
            <a class="button tiny radius refresh-button" data-days-to-add="-14" href="#">{{resource "fourteenButtonText"}}</a> 
            <a class="button tiny radius refresh-button" data-days-to-add="-30" href="#">{{resource "thirtyButtonText"}}</a> 
            <a class="button tiny radius refresh-button" data-days-to-add="-90" href="#">{{resource "ninetyButtonText"}}</a>
            <span>{{resource "daysHeaderText"}}</span>
        </div>
        <div class="small-1 columns">
            <a id="export-station-entry-log-list-button" class="button radius success" href="#">{{resource "exportButtonText"}}</a>
        </div>
    </div>

    <div class="row collapse list-header-item-view">
        <div class="small-1 columns">
            <span>
                <a class="sort-button" data-sort-attribute="stationName" href="#">{{resource "stationNameHeaderText"}}</a>
            </span>
        </div>
        <div class="small-1 columns">
            <span>
                <a class="sort-button" data-sort-attribute="userName" href="#">{{resource "userNameHeaderText"}}</a>
            </span>
        </div>
        <div class="small-1 columns">
            <span>{{resource "contactNumberHeaderText"}}</span>
        </div>
        <div class="small-2 columns">
            <span>
                <a class="sort-button" data-sort-attribute="inTime" href="#">{{resource "inTimeHeaderText"}}</a>
            </span>
        </div>
        <div class="small-2 columns">
            <span>
                <a class="sort-button" data-sort-attribute="outTime" href="#">{{resource "outTimeHeaderText"}}</a>
            </span>
        </div>
        <div class="small-1 columns">
            <span>{{resource "purposeHeaderText"}}</span>
        </div>
        <div class="small-2 columns">
            <span>{{resource "additionalInfoHeaderText"}}</span>
        </div>
        <div class="small-1 columns">
            <span>
                <a class="sort-button" data-sort-attribute="regionName" href="#" >{{resource "regionNameHeaderText"}}</a>
            </span>
        </div>
        <div class="small-1 columns">
            <span>
                <a class="sort-button" data-sort-attribute="areaName" href="#">{{resource "areaNameHeaderText"}}</a>
            </span>
        </div>
    </div>
    <div class="row collapse view-status hidden">
        <div class="small-12 columns">
            <span class="view-message">{{resource "stationEntryLogList.loadingMessage"}}</span>
            <img src="{{resource 'loadingIconSrc'}}" class="view-loading" />
        </div>
    </div>
    <div class="row collapse view-alerts">
        <div class="small-12 columns"></div>
    </div>
    <div class="row collapse scroll">
        <div id="station-entry-log-list-item-container" class="small-12 columns">
        </div>
    </div>
</div>