<div class="station-view">
    <div class="row collapse">
        <div class="small-2 columns">
            <span>{{{stationNameHeaderText}}}</span>
        </div>
        <div class="small-10 columns">
            <h1 data-stationid="{{stationId}}">{{stationName}}</h1>
        </div>
    </div>
    <div class="row collapse">
        <div class="small-2 columns">
            <span>{{{contactHeaderText}}}</span>
        </div>
        <div class="small-10 columns">
            <span>{{formatPhoneWithDefault contact "%D %r" "&nbsp;"}}</span>
        </div>
    </div>
    <div class="row collapse">
        <div class="small-2 columns">
            <span>{{{regionHeaderText}}}</span>
        </div>
        <div class="small-10 columns">
            <span>{{withDefault region "&nbsp;"}}</span>
        </div>
    </div>
    <div class="row collapse">
        <div class="small-2 columns">
            <span>{{{areaHeaderText}}}</span>
        </div>
        <div class="small-10 columns">
            <span>{{withDefault area "&nbsp;"}}</span>
        </div>
    </div>
    <div class="row collapse">
        <div class="small-2 columns">
            <span>{{{directionsHeaderText}}}</span>
        </div>
        <div class="small-10 columns">
            <a class="directions-link" data-latitude="{{latitude}}" data-longitude="{{longitude}}">View in Google Maps</a>
        </div>
    </div>
</div>
