<div class="station-entry-log-list-item-view">
    <div class="row collapse">
        <div class="small-1 columns">
            <a class="station-name-link" data-stationid="{{stationId}}">{{withDefault stationName "&nbsp;"}}</a>
        </div>
        <div class="small-1 columns">
            <i id="third-party-icon" class="fa fa-globe hidden"></i>
            {{#if userId}}
            <a class="personnel-name-link" data-userid="{{userId}}">{{withDefault userName "&nbsp;"}}</a>
            {{else}}
            {{withDefault userName "&nbsp;"}}
            {{/if}}
        </div>
        <div class="small-1 columns">
            <span>{{formatPhoneWithDefault contactNumber "%D %I:%M %p" "&nbsp;"}}</span>
        </div>
        <div class="small-2 columns">
            <span>{{formatDateWithDefault inTime "%D %I:%M %p" "&nbsp;"}}</span>
        </div>
        <div class="small-2 columns">
            <span>{{formatDateWithDefault expectedOutTime "%D %I:%M %p" "&nbsp;"}}</span>
        </div>
        <div class="small-1 columns">
            <span>{{{withDefault purpose "&nbsp;"}}}</span>
        </div>
        <div class="small-2 columns">
            <span>{{withDefault additionalInfo "&nbsp;"}}</span>
        </div>
        <div class="small-1 columns">
            <span>{{withDefault regionName "&nbsp;"}}</span>
        </div>
        <div class="small-1 columns">
            <span>{{withDefault areaName "&nbsp;"}}</span>
            <span class="collapse elevated-functions-toggle hidden">
                <i class="fa fa-angle-double-up hide-container-icon"></i>
                <i class="fa fa-angle-double-down show-container-icon hidden"></i>
            </span>
        </div>
    </div>
    <div class="row collapse elevated-functions-container hidden">
        <div class="small-2 columns large-offset-10">
            <a class="view-station-entry-log-link button radius tiny secondary">{{{viewCheckInButtonText}}}</a>
            <a class="station-entry-log-link button radius tiny">{{{editCheckInButtonText}}}</a>
            <a class="check-out-link button radius tiny alert">{{{checkOutButtonText}}}</a>
        </div>
    </div>
</div>
