<div class="station-entry-log-list-item-view">
    <div class="row collapse elevated-functions-toggle">
        <div class="small-12 columns">
            <div class="small-2 columns">
                <div class="row collapse">
                    <div class="small-12 columns">
                        <span class="collapse">
                            <i class="fa fa-plus hide-container-icon"></i>
                            <i class="fa fa-minus show-container-icon hidden"></i>
                        </span>
                        &nbsp;
                        {{#ifCond stationType "TD"}}
                        <span class="station-link" data-station-id="{{stationId}}">{{withDefault stationName "&nbsp;"}}</span>
                        {{else}}
                        {{#if stationId}}
                        <a class="station-link" data-station-id="{{stationId}}" href="#">{{withDefault stationName "&nbsp;"}}</a>
                        {{else}}
                        <span class="station-link" data-station-id="{{stationId}}">{{withDefault stationName "&nbsp;"}}</span>
                        {{/if}}                       
                        {{/ifCond}}             
                    </div>
                </div>
                <div class="row collapse item-icons hidden">
                    <div class="small-1 columns">
                        <!-- spacer offset for expand/collapse -->
                        &nbsp;
                    </div>
                    <div class="small-1 columns">
                        {{#if linkedStationName}}
                        <span class="linked-station-icon"><i class="fa fa-link" title="{{resource 'linkedStationIconAlt'}}{{linkedStationName}}"></i></span>
                        {{else}}
                        <!-- spacer for Linked Station icon -->&nbsp;
                        {{/if}}
                    </div>
                    <div class="small-1 columns">
                        {{#if overrideId}}
                        <span class="station-hazard-icon-small"><i class="fa fa-exclamation-triangle" title="{{resource 'linkedStationHazardIconAlt'}}"></i></span>
                        {{else}}
                        <!-- spacer for T&D Station Hazard icon -->&nbsp;
                        {{/if}}
                    </div>
                    <div class="small-1 columns">
                        {{#if hasWarnings}}
                        <span class="station-warning-icon"><i class="fa fa-bullhorn" title="{{resource 'tcomStationWarningsIconAlt'}}"></i></span>
                        {{else}}
                        <!-- spacer for Telecom Station Warnings icon -->&nbsp;
                        {{/if}}
                    </div>
                    <div class="small-1 columns">
                        {{#ifCond stationType "TD"}}
                        <span class="td-station-icon"><img id="td-station-icon" class="text-icon" title="T&D Station Entry" alt="T&D Station Entry" src="images/tower_180x180.png"/></span>
                        {{else}}
                        <!-- spacer for TD Station icon -->&nbsp;
                        {{/ifCond}}
                    </div>
                    <div class="small-7 columns">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="small-2 columns">
                <div class="row collapse">
                    <div class="small-12 columns">
                        <a class="personnel-link" data-user-id="{{userId}}" data-user-name="{{userName}}" href="#">{{withDefault userName "&nbsp;"}}</a>
                    </div>
                </div>
                <div class="row collapse item-icons hidden">
                    <div class="small-1 columns">
                        {{#if thirdParty}}
                        <img id="third-party-icon" class="text-icon" title="{{resource 'thirdPartyIconAlt'}}" alt="{{resource 'thirdPartyIconAlt'}}" src="images/third_party_180x180.png"/>
                        {{else}}
                        <!-- spacer for Third Party icon -->&nbsp;
                        {{/if}}
                    </div>
                    <div class="small-1 columns">
                        {{#if hasCrew}}
                        <i class="fa fa-users" title="{{resource 'checkedInWithCrew'}}"></i>
                        {{else}}
                        <!-- spacer for Check-in with Crew icon -->&nbsp;
                        {{/if}}
                    </div>
                    <div class="small-10 columns">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="small-1 columns">
                <span>{{formatPhoneWithDefault contactNumber "%D %I:%M %p" "&nbsp;"}}</span>
            </div>
            <div class="small-1 columns">
                <span>{{formatDateWithDefault inTime "%D %I:%M %p" "&nbsp;"}}</span>
            </div>
            <div class="small-1 columns">
                <span>{{formatDateWithDefault expectedOutTime "%D %I:%M %p" "&nbsp;"}}</span>
            </div>
            <div class="small-1 columns">
                <span>{{{withDefault purpose "&nbsp;"}}}</span>
            </div>
            <div class="small-2 columns">
                <span>{{withDefault additionalInfo "&nbsp;"}}</span>
            </div>
            <div class="small-1 columns">
                <span>{{withDefault regionName "&nbsp;"}}</span>
            </div>
            <div class="small-1 columns">
                <span>{{withDefault areaName "&nbsp;"}}</span>
            </div>
        </div>
        <div class="small-12 columns">
            <div class="row collapse elevated-functions-container hidden">
                <div class="small-2 columns">
                    <div class="row collapse trans-dispatch-info-container hidden">
                        <div class="small-12">
                            <b>TDC:</b> {{transDispatchCenter}} {{formatPhoneWithDefault transDispatchPhone "%D %I:%M %p" "&nbsp;"}}
                        </div>
                    </div>
                    <div class="row collapse dist-dispatch-info-container hidden">
                        <div class="small-12">
                            <b>DDC:</b> {{distDispatchCenter}} {{formatPhoneWithDefault distDispatchPhone "%D %I:%M %p" "&nbsp;"}}
                        </div>
                    </div>
                    <a href="#" class="view-station-entry-log-button button radius tiny secondary">{{resource "viewCheckInButtonText"}}</a>
                    <a href="#" class="edit-station-entry-log-button button radius tiny">{{resource "editCheckInButtonText"}}</a>
                    <a href="#" class="check-out-button button radius tiny alert">{{resource "checkOutButtonText"}}</a>
                </div>
                <div class="small-10 columns">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
