@import "normalize";
@import "foundation";

/* -------- NocLog -------- */

root {
    display: block;
    font-size: 1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0; }

/* stickey footer http://www.cssstickyfooter.com/using-sticky-footer-code.html*/
html, body {
    height: 100%; }

body {
    font-size: 1em;
    line-height: 1.5em; }

.shell-view {
    min-height: 100%;
    background-color: #DEDEDE; }

.shell-view {
    overflow: auto;
    padding-bottom: 40px; }

/* must be same height as the footer */
#footer {
    position: relative;
    margin-top: -40px;
    /* negative value of footer height */
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    clear: both;
    background-color: #DEDEDE; }

.footer-logo {
    width: 40px;
}

/*Opera Fix*/
body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px; }

/* app */
.row {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
}

.row.highlighted {
    background: red;
}

.hidden {
    display: none;
}

.station-entry-log-list-view,
.station-entry-log-history-list-view,
.station-list-view,
.station-entry-log-view,
.station-view {
    background-color: #FFFFFF;
    margin: 5px;
    padding: 5px;
}

.list-header-item-view {
    background-color: #DEDEDE;
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 3px;
    border: solid 1px #C2C2C2;
    margin: 5px 0;
}

.list-header-item-view .columns {
    position: relative;
    height: 50px;
}

.list-header-item-view .columns span {
    position: absolute;
    bottom: 0;
    left: 0;
}

.station-entry-log-list-item-view,
.station-entry-log-history-list-item-view,
.station-list-item-view {
    background-color: #DEDEDE;
    border: solid 1px #C2C2C2;
    padding: 3px;
    margin: 5px 0;
}

.h2 { 
    font-size: 2.3em;
}
.h3 {
    font-size: 1.5em;
}

.divWithScroll{
    height:550px;
    overflow:scroll;
    overflow-x:hidden;
}

.error{
    color: red;
}

.info{
    color: green;
}

/* overriding font size for the various input types */
select, 
input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="month"], 
input[type="week"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
textarea {
    display: inline;
    min-width: 170px;
    max-width: 170px;
    font-size: 1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #000000;
}

span.detail {
    font-size: 1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: italic;
    color: #000000; 
}

#station-show-contact-details-button,
#station-show-location-details-button,
#station-show-emergency-details-button,
#station-show-other-details-button,
.section-header {
    color: #008cba;
    font-size: 1.2em;
    line-height: 1.2em;
    border-bottom: solid 1px #b6edff;
}

#station-show-contact-details-button i,
#station-show-location-details-button i,
#station-show-emergency-details-button i,
#station-show-other-details-button i,
.section-header i {
    float:right;
}

.new-station-entry-log-view .row {
    padding: 5px 0px;
}

#station-entry-log-collapse-button,
.row-button {
    color: #008cba;
    font-size: 1.2em;
    line-height: 1.2em;
    border-bottom: 1px;
    float:right;
}

#new-station-entry-log-station-identifier,
#new-station-entry-log-purpose,
#new-station-entry-log-duration,
#new-station-entry-log-purpose-other,
#new-station-entry-log-additional-info {
    width: 199px;
    min-width: 199px;
    max-width: 199px;
    resize: none;
}

.new-station-entry-log-view .invalid {
    color: #ef7a24;
    border: 1px solid #ef7a24;
}